.ipynb_checkpoints/
/__pycache__/
automl/
efficientnetv2-b0/
polyvore-dataset/
*.tgz
*.pkl
*.pickle
*.png
*.h5
/wandb/
/finetuned_efficientnet/
/logs/
/stellargraph/
/visual-compatibility/
/compatibility*/
/fashion-compatibility/
/triplet_loss_nondisjoint/
