.ipynb_checkpoints/
/__pycache__/
automl/
efficientnetv2-b0/
polyvore-dataset/
*.tgz
*.pkl
*.pickle
*.png
*.h5
*.jpg
*.jpeg
/wandb/
/finetuned_efficientnet/
/logs/
/stellargraph/
/visual-compatibility/
/compatibility*/
/fashion-compatibility/
/triplet_loss_nondisjoint/
/Clothing-Detection/
/Nordstrom/
/STL-Dataset/
/fashionIQ/
/DeepFashion2_Dataset/
